pipeline/Module_10.json
{
	"name": "Module_10",
	"properties": {
		"activities": [
			{
				"name": "Copy data_ module 10 FAILED",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": " metadata-driven",
							"wildcardFileName": " metadata-driven",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [stg].[credits]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sqldbmodule10",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Fail_module_10",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Copy data_ module 10 FAILED",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('Copy data_ module 10 FAILED').error.message",
						"type": "Expression"
					},
					"errorCode": "123"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-04-21T15:00:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}