pipeline/PL_COPY_DATA_tControlMetadata_INITIAL.json
{
	"name": "PL_COPY_DATA_tControlMetadata_INITIAL",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_META_FunctionalPurpose",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS__2",
						"type": "DatasetReference",
						"parameters": {
							"TargetFilename": "*.csv"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ACT_ITRC_FOR_FunctionalPurpose",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_META",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_META').output.firstRow",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ACT_MT_Copy_FunctionalPurpose",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "pipelineId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "source_filename",
											"value": "$$FILEPATH"
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "metadata-driven",
										"wildcardFileName": {
											"value": "@item().SourcePath",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "AzureDataLakeStoragenew",
											"type": "LinkedServiceReference"
										},
										"path": "log"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureLake_mod_9",
									"type": "DatasetReference",
									"parameters": {
										"SourcePath": {
											"value": "@item().SourcePath",
											"type": "Expression"
										},
										"ColumnDelimiter": {
											"value": "@item().ColumnDelimiter",
											"type": "Expression"
										},
										"Encoding": {
											"value": "@item().Encoding",
											"type": "Expression"
										},
										"EscapeCharacter": {
											"value": "@item().EscapeCharacter",
											"type": "Expression"
										},
										"QuoteCharacter": {
											"value": "@item().QuoteCharacter",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable_mod_9",
									"type": "DatasetReference",
									"parameters": {
										"DestinationSchema": {
											"value": "@item().DestinationSchema",
											"type": "Expression"
										},
										"DestinationTable": {
											"value": "@item().DestinationTable",
											"type": "Expression"
										},
										"DIUValue": {
											"value": "@item().DIUValue",
											"type": "Expression"
										},
										"Mapping": {
											"value": "@item().Mapping",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup_META",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_GEN_META_FunctionalPurpose",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "  Select  *\n from etl.tControlMetadata \n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-04-27T13:36:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}