pipeline/PL_INCR_FILE_MOD_7.json
{
	"name": "PL_INCR_FILE_MOD_7",
	"properties": {
		"activities": [
			{
				"name": "Lookup_WatermarkValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "COPY_FILE_BLOB_LAKE",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_WatermarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('Lookup_WatermarkValue').output.firstRow.WatermarkValue\r\n\r\n",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 16,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "Json_mod_7",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Json_mod_7_for_datalake",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "sp_Write_Watermark_Value",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "COPY_FILE_BLOB_LAKE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark1]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1_mod_7",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-28T08:16:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}