pipeline/PL_STG_DWH_DLAKE_SQL_MOD_5.json
{
	"name": "PL_STG_DWH_DLAKE_SQL_MOD_5",
	"properties": {
		"activities": [
			{
				"name": "ACT_MT_Copy_FunctionalPurpose_credits",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "raw/movies/credits*.csv"
					},
					{
						"name": "Destination",
						"value": "stg.credits"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "movies",
							"wildcardFileName": "credits*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [stg].[credits]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "cast",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cast",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "crew",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "crew",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "id",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pipelineId",
									"type": "String"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "source_filename",
									"type": "String"
								},
								"sink": {
									"name": "source_filename",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_MOD_5_1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_MOD_5_1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ACT_MT_Copy_FunctionalPurpose_movies",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_MT_Copy_FunctionalPurpose_credits",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "raw/movies/movies_metadata*.csv"
					},
					{
						"name": "Destination",
						"value": "stg.movies_metadata"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "movies",
							"wildcardFileName": "movies_metadata*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [stg].[movies_metadata]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "adult",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "adult",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "belongs_to_collection",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "belongs_to_collection",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "budget",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "budget",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "genres",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "genres",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "homepage",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "homepage",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "imdb_id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "imdb_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "original_language",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "original_language",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "original_title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "original_title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "overview",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "overview",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "popularity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "popularity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "poster_path",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "poster_path",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "production_companies",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "production_companies",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "production_countries",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "production_countries",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "release_date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "release_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "revenue",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revenue",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "runtime",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "runtime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "spoken_languages",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "spoken_languages",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tagline",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tagline",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "video",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "video",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "vote_average",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vote_average",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "vote_count",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vote_count",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pipelineId",
									"type": "String"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "source_filename",
									"type": "String"
								},
								"sink": {
									"name": "source_filename",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_MOD_5_2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_MOD_5_2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ACT_MT_Copy_FunctionalPurpose_ratings",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_MT_Copy_FunctionalPurpose_movies",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "raw/movies/ratings*.csv"
					},
					{
						"name": "Destination",
						"value": "stg.ratings"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "movies",
							"wildcardFileName": "ratings*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [stg].[ratings]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "userId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "userId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "movieId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "movieId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "rating",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rating",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "timestamp\r\r",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "timestamp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pipelineId",
									"type": "String"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "source_filename",
									"type": "String"
								},
								"sink": {
									"name": "source_filename",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_MOD_5_3",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_MOD_5_3",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ACT_GEN_LKP_sp",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_MT_Copy_FunctionalPurpose_ratings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "spLoad",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ACT_ITRC_FOR_sp",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_GEN_LKP_sp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_GEN_LKP_sp').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ACT_GEN_SPRC_sp",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().ProcedureName",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_MOD_5",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-10T13:55:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}